.main-signUp{
    width: 100%;
    height: 100%;
    display: flex;
}
.section-video {
    width: 380px;
    height: 100vh;
}
.section-video video {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.section-form{
    flex: 1;    
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        strong {
            font-size: var(--biggest-font-size);
            

            span {
                color: var(--first-color);
                font-size: var(--biggest-font-size);
                text-transform: uppercase;
            }
        }

        small {
            color: var(--text-color-light);
            margin-top: -1rem;
        }

        .input-label{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            label {
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }

            input {
                background-color: var(--body-color-light);
                padding: 1.2rem;
                border-radius: 1.2rem;
                transition: .3s all;
                border: 3px solid transparent;

                &:is(:focus, :hover) {
                    border-color: var(--first-color);
                }
            }
        }

        > a {
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);
            color: var(--text-color-light);
            text-align: right;
            transition: .3s all;

            &:hover {
                color: var(--first-color);
            }
        }

        button {
            padding: 1.3rem;
            border-radius: 1.2rem;
            background-color: var(--text-color);
            text-align: center;
            color: #fff !important;
            font-size: var(--normal-font-size);
            font-weight: var(--font-semibold);
            box-shadow: var(--box-shadow);
            transition: .3s all;

            &:hover {
                transform: scale(1.05);

            }
        }

        p {
            font-size: var(--small-font-size);
            color: var(--text-color-light);
            text-align: center;
            margin-top: 1rem;

            a {
                color: var(--first-color);
                font-weight: var(--font-medium);
            }
        }
    }
}