.aside {
    height: 100dvh;    
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;
    transition: all .5s;
    z-index: var(--z-fixed);

}
.aside ul {
    width: var(--aside-width) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    padding: 1rem 0 2rem 0 !important;
    border-radius: 50px;
    background: #929c6331;
    background: var(--text-color);
    backdrop-filter: blur(7px);
}
.aside ul li {
    position: relative;
    width: 63px;
    height: 63px;
    z-index: 1;
}
.aside ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    color: var(--body-color);
}
.aside ul li a .icon-link {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: .5s all;
    font-size: var(--h2-font-size);
    color: var(--body-color);
}
.aside ul li:hover a .icon-link {
    transform: translateY(-6px);
    color: var(--first-color);
}
.aside ul li a .text-link {
    position: absolute;
    letter-spacing: 0.05em;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
    transition: .5s all;
    opacity: 0;
    transform: translateY(28px);
}
.aside ul li:hover a .text-link {
    opacity: 1;
    transform: translateY(10px);
}
