.main-alunos{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;




}

.section-alunos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    

}