.main-home{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;



    .section-people{
        width: 300px;
        height: 30rem;
        background: var(--body-color-light);
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 30px;
     

        .card-porfile{
            margin: 1rem 15px ;
            display: flex;
            align-items: center;
            width: 90%;
            gap: 20px;
            background: var(--body-color);
            border-radius: var(--border-radius);
            position: relative;

            /*
            label{
                position: absolute;
                overflow: hidden;
            }
            */
            

            

            small{
                background-color: var(--text-color);
                border-radius: 30px;
                width: 40px;
                height: 40px;
                display: flex;
                }
            
           
            }
            .card-porfile:hover{
                height: 90px;
                align-items: start;
                cursor: pointer;

              
        }
        /*é suposto ele mostra uma descrição básica do dia, ex: tipo de treino e proxima marcação */
            label:hover{
                color: blue;
                overflow: visible;
        }
    }

    
    .section-blog{
        flex: 1;
    }
    
}

.section-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .card-search-link-create-blog{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;

        .card-search{
            width: 100%;
            border: 3px solid transparent;
            border-radius: 50px;
            background: var(--body-color-light);
            display: flex;
            align-items: center;
            padding: 0 .4rem;

            &:hover{
                border-color: var(--text-color);
                cursor: pointer;
            }

            input{
                padding: 1rem;
                font-size: var(--small-font-size);
                flex: 1;
            }

            button{
                width: 38px;
                height: 38px;
                border-radius: 50px;
                color: #fff;
                background: var(--text-color);
                display: grid;
                place-content: center;
            }
        }

        .link-create-blog{
            display: flex;
            align-items: center;
            gap: .4rem;
            padding: .3rem .6rem;
            border-radius: 50px;
            color: #fff;
            background: var(--text-color);
            transition: .3s;


            &:hover{
                transform: scale(1.05);
            }



            span{
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }
        }
    }
}


.section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


    .card-img-profile {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
        border: 4px solid var(--text-color);
        padding: 3px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50% !important;
            object-fit: cover;
        }

    }

    .card-content-user-online {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .name-level {
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
                font-size: var(--h2-font-size);
                font-weight: var(--font-bold);
                color: var(--text-color);
                text-decoration: none;
            }

            .level {
                font-size: var(--small-font-size);
                color: var(--text-color-light);
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 1rem;
        margin: 1rem 0 !important;

        li {
            display: flex   ;
            flex-direction: column;
            align-items: center;
            gap: .25rem;
            border: 2px solid var(--body-color-light);
            padding: 1rem 1.3rem;
            border-radius: 1.5rem;
            background: var(--body-color-light);
            

            strong {
                font-size: var(--h1-font-size);
                font-weight: var(--font-bold);
                color: var(--text-color);
            }

            small {
                font-size: var(--small-font-size);
                color: var(--text-color-light);
            }
        }
    }

    p.description {
        text-align: center;
        font-size: var(--normal-font-size);
        color: var(--text-color-light);
        padding: 0 1rem;
    }
}