.main-home{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;


    .section-people{
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 2rem;


        .card-list-people  {
            display: flex;
            flex-direction: column;
            gap: 2rem;


            .card-person {
                display: flex;
                align-items: start;
                gap: .75rem;
                /* background-color: var(--body-color-light); */
                /* padding: 1rem; */
                border-radius: var(--border-radius);
                /* box-shadow: var(--box-shadow); */


                .circle-profile {
                    width: 85px;
                    height: 85px;
                    border-radius: 50%;
                    border: 3px solid var(--text-color);
                    padding: 3px;

                    div {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        background-color: var(--text-color);
                        display: grid;
                        place-content: center;

                        span {
                            font-size: var(--biggest-font-size);
                            font-weight: var(--font-medium);
                            color: #fff;
                        }
                    }


                    
                }

                .content-person {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: .75rem;


                    .name-role {
                        
                        .name-person {
                            font-size: var(--h3-font-size);
                            font-weight: var(--font-semibold);
                            color: var(--text-color);
                        }
    
                        .role-person {
                            display: flex;
                            align-items: center;
                            justify-content: start;
    
                            i {
                                font-size: var(--small-font-size);
                                color: var(--text-color-light);
                                margin-right: .3rem;
                            }
    
                            small {
                                font-size: var(--small-font-size);
                                color: var(--text-color-light);
                            }
                        }
                    }

                    .btns {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        

                        a {
                            padding: .8rem;
                            border-radius: 1rem;
                            font-size: var(--small-font-size);
                            font-weight: var(--font-medium);
                            color: #fff;
                            background: var(--text-color);
                            transition: .3s;

                            &:hover{
                                transform: scale(1.05);
                            }
                        }

                        a.profile {
                            flex: 1;
                            text-align: center;
                        }
                    }

                    
                }
            }
        }
     

        
    }

    
    .section-blog{
        flex: 1;
    }
    
}

.section-blog{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    

}


