.main-home{
    display: flex;
    justify-content: space-between;
    padding-top: calc(4rem + var(--header-height));
    gap: 2rem;



    .section-people{
        width: 300px;

    }
    .section-blog{
        flex: 1;
    }
    
}

.section-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .card-search-link-create-blog{

        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;

        .card-search{
            width: 100%;
            border: 3px solid transparent;
            border-radius: 50px;
            background: var(--body-color-light);
            display: flex;
            align-items: center;
            padding: 0 .4rem;

            &:hover{
                border-color: var(--text-color);
                cursor: pointer;
            }

            input{
                padding: 1rem;
                font-size: var(--small-font-size);
                flex: 1;
            }

            button{
                width: 38px;
                height: 38px;
                border-radius: 50px;
                color: #fff;
                background: var(--text-color);
                display: grid;
                place-content: center;
            }
        }

        .link-create-blog{
            display: flex;
            align-items: center;
            gap: .4rem;
            padding: .3rem .6rem;
            border-radius: 50px;
            color: #fff;
            background: var(--text-color);
            transition: .3s;


            &:hover{
                transform: scale(1.05);
            }



            span{
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }
        }
    }
}